
@{
    Layout = null;
}
@model RelexBarDLL.Users
<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <title>修改姓名</title>
   
    <script>
        $(function () {
            $("#save").on("click", function () {
                var name = $("#TrueName").val();
                if (name == "") {
                    return alert("姓名不能为空");
                }
                $.post("/Account/DoCName", "name=" + name, function (data) {
                    alert(data.msg);
                    if (data.code == 1) {
                        location.href = "/Shop/PersonCenter";
                    }
                }, "json");

            });
            
        });
    </script>
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>修改姓名</h3>
        <a onclick="window.history.back()" title=""><i class="icon-chevron-thin-left"></i></a>
    </div>
    <div class="addressadd">
        <ul>
            <li>
                <div class="addressadd_title">姓名</div>
                <div class="addressadd_con">
                    <div class="addressadd_txt">
                    @Html.TextBoxFor(m => m.TrueName, new { placeholder = "请输入新的姓名" })
                </div>
            </div>
        </li>
    </ul>
</div>
    <div class="h20"></div>
    <div class="btn1"><input type="button" value="保存" id="save"/></div>
    <div class="h20"></div>
</body>
</html>
