
@{
    Layout = null; RelexBarDLL.Users user = ViewData["user"] as RelexBarDLL.Users;
}
@model RelexBarDLL.BankList
<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <style>
        .btn0 {
            background: #808080;
            width: 100%;
            height: 4rem;
            border: 0;
            border-radius: 4rem;
            font-size: 1.8rem;
            color: #fff;
        }
        .code {
            color: #666;margin-top:1.5rem;
            height:3rem;
        }
        .code>#code{border:none;border-bottom:1px solid #ccc;}
        .code>input{height:2.5rem;}
        .code>#yzm{float:right;padding:0rem 1rem;}
    </style>
    <script>
        function sub() {
            //alert('因年底资金结算，今日暂停提现，下周提现业务正常恢复。');
            //return false;
            var d=new Date(Date.parse("2018-02-12 00:00:01".replace(/-/g,"/")));
            var d2=new Date(Date.parse("2018-02-24 00:00:01".replace(/-/g,"/")));
            var curDate=new Date();
            if(d < curDate && d2 > curDate){
                alert("因过年公司放假，12号至26号暂停提现功能。");
                return false;
            }
            unable();
            var money = $("#money").val();
            if (money == null || money == "") {
                alert("提现金额不能为空！");
                enable();
                return;
            }
            if (isNaN(money)) {
                alert("提现金额必须是数字！");
                enable();
                return;
            }
            if(parseFloat(money)>@user.Balance){
                alert("可提现余额不足");
                enable();
                return;
            }
            if(parseFloat(money)%100!=0){
                alert("提现金额只能填写100的整数倍");
                enable();
                return;
            }
            var code=$("#code").val();
            if(code==null||code==""){enable();
                return alert("验证码不能为空");
            }
            $.post("/Account/DoTransforout", "bankID=@(Model==null?"":Model.ID.ToString())" + "&money=" + money+"&code="+code, function (data) {
                if(data.code==1)
                {
                    alert(data.msg);
                    location.href="/Shop/PersonCenter";
                }
                else
                {
                    alert(data.msg);
                    enable();
                }
            }, "json");

        }
        
        function enable(){
            $("#sub").css("background","#ff6600");
            $("#sub").attr("disabled", false);
        }
        function unable(){
            $("#sub").css("background","#808080");
            $("#sub").attr("disabled", true);
        }
        $(function(){
            $("#yzm").on("click", function () {
                
                var c = 60;
                $(this).attr("disabled", "disabled");
                var timer = setInterval(function () {
                    c--;
                    if (c == 0) {
                        $("#yzm").val("获取验证码");
                        $("#yzm").removeAttr("disabled");
                        clearInterval(timer);
                    } else {
                        $("#yzm").val(c + "秒后重试");
                    }
                    
                }, 1000);
                $.post("/Verifycode/getMyVerifyCode?v=" + Math.random(),null,function(data){},"json");
                
            });
        });
    </script>
    <title>申请提现</title>
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>申请提现</h3>
        <a onclick="window.history.back()"  title=""><i class="icon-chevron-thin-left"></i></a>
    </div>
    <div class="withdraw_other">
        <div class="withdraw_other_title">提现金额</div>
        <div class="withdraw_other_entry"><input id="money" type="number" class="withdraw_other_entry_txt" /><strong>￥</strong></div>
        <div class="code">
            <span>验证码：</span>
            <input type="text" id="code"/>
            <input value="获取验证码" id="yzm" type="button">
        </div>
        <div class="withdraw_other_info">可用余额 @user.Balance 元</div>
        
    </div>
    <div class="btn1" id="qrdiv" style="margin-top:1.5rem"><input id="sub" type="button" value="确认" onclick="sub()" /></div>
    <div class="withdraw_info">
        <div class="withdraw_info_title">提现规则</div>
        <p>1.提现金额必须有100整数倍</p>
        <p>2.申请提现后，提现对应金额进行冻结（冻结金额表示不可重复提现，也未到用户银行卡，如果提现失败会进行冻结，退回电子钱包。）</p>
    </div>
</body>
</html>
