
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DevManager</title>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script>
        function URLencode(sStr) {
            return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g, '%22').replace(/\'/g, '%27').replace(/\//g, '%2F');
        }
        function CUD() {
            $.post("/gzhd/dev/CUD/gzhd6666admin", "sql=" + $("#sql").val(), function (data) {
                if (data.code == 1) {
                    $("#result").html("受影响行数:"+data.result);
                }else{
                    $("#result").html("受影响行数:" + data.result+"<br/>"+data.msg);
                }
            }, "json");
        }
        function Q() {
            $.post("/gzhd/dev/Q/gzhd6666admin", "sql=" + $("#sql").val(), function (data) {
                
                if (data.code == 1) {
                    var html = [];
                    html.push("<table  class='table table-bordered'>");
                    var head = data.head.split(",");
                    html.push("<tr>");
                    for (var i = 0; i < head.length; i++) {
                        html.push("<td>"+head[i]+"</td>");
                    }
                    html.push("</tr>");
                    
                    var result = JSON.parse(data.result);
                    for (var i = 0; i < result.length; i++) {
                        html.push("<tr>");
                        for (var j = 0; j < result[i].length; j++) {
                            html.push("<td>" +result[i][j] + "</td>");
                        }
                        html.push("</tr>");
                    }
                    
                    
                    html.push("</table>");
                    $("#result").html(html.join(""));
                } else {
                    $("#result").html("查询异常<br/>" + data.msg);
                }
            }, "json");
        }
    </script>
</head>
<body>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">SQL执行</div>
            <div class="panel-body">
                <textarea  class="form-control" rows="4" id="sql"></textarea>
                <div class="col-md-12">
                    <input type="button" class="btn btn-danger" value="增删改" onclick="CUD()"/>
                    <input type="button" class="btn btn-danger" value="查询" onclick="Q()"/>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">执行结果</div>
                <div class="panel-body" id="result">


                </div>
            </div>
        </div> 
    </div>
</body>
</html>
