
<script>
    var hasFooter = false;
    var PayListDetailManager = {};
    function createFooter(sum) {
        if (!hasFooter) {
            $(".pagination").createPage({
                totalPage: parseInt((sum - 1) / 10 + 1),
                // totalPage: 10,
                currPage: 1,
                backFn: function (p) {
                    GetPayListDetail(p);
                }
            });
            hasFooter = true;
        }

    }
    function toPage(index) {
        GetPayListDetail(index);
    };
    function search() {
        var datareg = /((^((1[8-9]\d{2})|([2-9]\d{3}))([-\/\._])(10|12|0?[13578])([-\/\._])(3[01]|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))([-\/\._])(11|0?[469])([-\/\._])(30|[12][0-9]|0?[1-9])$)|(^((1[8-9]\d{2})|([2-9]\d{3}))([-\/\._])(0?2)([-\/\._])(2[0-8]|1[0-9]|0?[1-9])$)|(^([2468][048]00)([-\/\._])(0?2)([-\/\._])(29)$)|(^([3579][26]00)([-\/\._])(0?2)([-\/\._])(29)$)|(^([1][89][0][48])([-\/\._])(0?2)([-\/\._])(29)$)|(^([2-9][0-9][0][48])([-\/\._])(0?2)([-\/\._])(29)$)|(^([1][89][2468][048])([-\/\._])(0?2)([-\/\._])(29)$)|(^([2-9][0-9][2468][048])([-\/\._])(0?2)([-\/\._])(29)$)|(^([1][89][13579][26])([-\/\._])(0?2)([-\/\._])(29)$)|(^([2-9][0-9][13579][26])([-\/\._])(0?2)([-\/\._])(29)$))/;
        var phone = $("#phone").val();
        var begintime = $("#beginTime").val();
        var endtime = $("#endTime").val();
        var FromTo = $("#FromTo").val();
        var InOut = $("#InOut").val();
        if (begintime != ""&&!datareg.test(begintime)) {
            alert("开始日期格式不正确！");
        }
        if (endtime != "" && !datareg.test(endtime)) {
            alert("结束日期格式不正确！");
        }
        PayListDetailManager.phone = phone;
        PayListDetailManager.beginTime = begintime;
        PayListDetailManager.endTime = endtime;
        PayListDetailManager.FromTo = FromTo;
        PayListDetailManager.InOut = InOut;
        $(".pagination").html("");
        hasFooter = false;
        GetPayListDetail(1);
    }
    //获取用户列表
    function GetPayListDetail(index) {
        waiting();
        $.get("GetPayListDetail", "index=" + index + "&name=" + PayListDetailManager.phone + "&beginTime=" + PayListDetailManager.beginTime + "&endTime=" + PayListDetailManager.endTime + "&FromTo=" + PayListDetailManager.FromTo
            +"&InOut="+PayListDetailManager.InOut, function (data) {
            $("#PayListDetailbody").html(data);
            waitingHide();
            }, "html")
    }
    $(function () {
        search();
    });
</script>
<ol class="breadcrumb">
    <li><a onclick="GetManager('Default')">首页</a></li>
    <li><a href="#">账单管理</a></li>
</ol>
<div class="col-md-12 form-inline">
    <div class="col-md-11">
        <div class="col-md-12" style="margin-top:10px;padding-left:0px">
            <div class="col-md-4">
                账号：<input type="text" class="form-control" id="phone" name="phone">
            </div>
            <div class="col-md-4">
                开始时间：<input type="text" class="form-control" id="beginTime" name="beginTime" placeholder="格式：yyyy-MM-dd" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" />
            </div>
            <div class="col-md-4">
                结束时间：<input type="text" class="form-control" id="endTime" name="endTime" placeholder="格式：yyyy-MM-dd" onclick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'})" />
            </div>
        </div>
    </div>
    <div class="input-group col-md-1" style="margin-top:10px;">
        <input type="button" class="btn btn-primary" value="查询" onclick="search()" />
    </div>
    <div class="col-md-12" id="PayListDetail">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>会员编号</th>
                    <th>账号</th>
                    <th>姓名</th>
                    @*<th>交易方手机号</th>
                        <th>交易方昵称</th>*@
                    <th>金额</th>
                    <th>备注</th>
                    <th>消费时间</th>
                </tr>
            </thead>
            <tbody id="PayListDetailbody">
                @*@Html.Action("PayListDetail")*@
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
