<style>
    img {
        width: 100%;
    }

    .idcard {
        max-height: 150px;
        overflow: auto;
    }
     #uppwdpanel, #addpanel {
        margin-top: 10%;
        padding: 0;
    }
    #edit-form>div{margin-bottom: 5px;}
</style>
<script>
    var hasFooter = false;
    var ShopManager = {};
    ShopManager.searchKey = "";
    ShopManager.createFooter=function(sum) {
        if (!hasFooter) {
            $(".pagination").createPage({

                totalPage: parseInt((sum - 1) / 10 + 1),
                // totalPage: 10,
                currPage: 1,
                backFn: function (p) {
                    GetShopList(p);
                }
            });
            hasFooter = true;
        }

    }
    function toPage(index) {
        GetShopList(index);
    };
    //获取用户列表
    ShopManager.GetShopList=function(index) {
        waiting();
        $.get("ShopList", "index=" + index + "&key=" + ShopManager.searchKey, function (data) {
            ShopManager.createFooter(data.sum);
            var temphtml = [];
            for (var i = 0; i < data.data.length; i++) {
                var item = data.data[i];
                temphtml.push('<tr id="' + item.ID + '"><td>'+item.Account+'</td><td><img src="' + item.Img + '"/></td><td>' + item.ShopName + '</td>'
                    + '<td>'+item.Address+'</td><td><div class="idcard"><img src="' + item.IDcard_Img + '"/><img src="' + item.IDcard_Img + '"/></div></td>'
                    + '<td><img src="' + item.BusinessLicense_Img + '"/></td><td><input class="btn btn-primary" onclick="ShopManager.ShopEdit(\''+item.ID+'\')" type="button" value="编辑"/></td></tr>');
            }
            console.log(data);
            ShopManager.index = index;
            $("#Shopbody").html(temphtml.join(""));
            waitingHide();
        }, "json")
    }
    ShopManager.search = function () {
        ShopManager.searchKey = $("#key").val();
        ShopManager.GetShopList(1);
    }
    ShopManager.ShopEdit = function (id) {
        waiting();
        $.post("GetShop", "id=" + id, function (data) {
            $("#ID").val(data.ID);
            $("#ShopName").val(data.ShopName);
            $("#AgentType").val(data.AgentType);
            $("#Edit").show();
            waitingHide();
        }, "json");
    }
    ShopManager.Save = function () {
        var data = $("#edit-form").serialize();
        $.post("Save", data, function (rdata) {
            alert(rdata.msg);
        }, "json");
        console.log(data);
    }
    ShopManager.EditClose = function () {
        $("#Edit").hide();
    }
    function URLencode(sStr) {
        return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g, '%22').replace(/\'/g, '%27').replace(/\//g, '%2F');
    }
    $(function () {
        ShopManager.GetShopList();
    });
</script>
<ol class="breadcrumb">
    <li><a onclick="GetManager('Default')">首页</a></li>
    <li><a href="#">商家管理</a></li>
</ol>
<div class="col-lg-12 form-inline">

    关键字：
    <div class="input-group col-lg-4">
        <input type="text" class="form-control" id="key">
        <span class="input-group-addon" onclick="ShopManager.search()">查询</span>
    </div>
    @*<input value="新增" type="button" class="btn btn-primary" onclick="$('#editConfig').show()" />*@
    <div class="col-md-12" id="ShopList">
        <table class="table table-hover" style="table-layout: fixed;word-break : break-all;">
            <thead>
                <tr>
                    <th width="10%">申请人账号</th>
                    <th width="8%">商家头像</th>
                    <th width="8%">商家名称</th>
                    <th width="8%">地址</th>
                    <th width="25%">身份证</th>
                    <th width="25%">营业执照</th>
                    <td width="8%">操作</td>
                </tr>
            </thead>
            <tbody id="Shopbody">
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
<div class="showBack col-md-12" id="Edit">
    <div class="panel panel-danger col-md-4 col-md-offset-4" id="addpanel">
        <div class="panel-heading">
            编辑广告<input type="button" class="btn btn-default" style="float:right;margin-top:-7px" value="关闭" onclick="ShopManager.EditClose()" />
        </div>
        <div class="panel-body">
            <form id="edit-form">
                <div class="col-md-12">
                    <input type="text" class="hidden" name="ID" id="ID" />
                    <span class="col-md-4">商家名称：</span><div class="col-md-8"><input type="text" id="ShopName" name="ShopName" class="form-control" /></div>
                </div>
                <div class="col-md-12">
                    <input type="text" class="hidden" name="ID" id="ID" />
                    <span class="col-md-4">代理类型：</span>
                    <div class="col-md-8">
                    <select class="form-control" id="AgentType" name="AgentType">
                        <option value="">无</option>
                        <option value="0">市代理</option>
                        <option value="1">区县代理</option>
                    </select>
                    </div>
                </div>
            </form>

        </div>
        <div class="panel-footer" style="overflow:hidden">
            <input type="button" value="保存" class="btn btn-primary" style="float:right" onclick="ShopManager.Save()" />
        </div>
    </div>
</div>