<style>
    #editConfigpanel {
        padding: 0;
        margin-top: 10%;
    }
    img{width:100%;}
    .idcard{max-height:150px;overflow:auto;}
</style>
<script>
    var hasFooter = false;
    var ShopReqManager = {};
    ShopReqManager.searchKey = "";
    ShopReqManager.datapush = function (id,data) {
        var $tds = $("#" + id+" td");
        $tds.eq(1).html('<img src="' + data.HeadImg + '"/>');
        $tds.eq(2).text(data.ShopName);
        $tds.eq(3).html('<div class="idcard"><img src="' + data.IDcard_img + '"/><img src="' + data.IDcard_img2 + '"/></div>');
        $tds.eq(4).html('<img src="' + data.BLImg + '"/>');
    }
    function createFooter(sum) {
        if (!hasFooter) {
            $(".pagination").createPage({

                totalPage: parseInt((sum - 1) / 10 + 1),
                // totalPage: 10,
                currPage: 1,
                backFn: function (p) {
                    GetShopReqList(p);
                }
            });
            hasFooter = true;
        }

    }
    function toPage(index) {
        GetShopReqList(index);
    };
    //获取用户列表
    function GetShopReqList(index) {
        waiting();
        $.get("ShopReqList", "index=" + index + "&key=" + ShopReqManager.searchKey, function (data) {
            ShopReqManager.index = index;
            $("#ShopReqbody").html(data);
            waitingHide();
        }, "html")
    }
    //更改管理员状态
    function CResult(ID, e) {
        if (!confirm("确定同意该商家入驻？")) {
            return;
        }
        waiting();
        var result = 0;
        if (e.value == "通过") {
            result = 1;
        }
        $.post("DoShopReq", "ID=" + ID + "&result=" + result, function (data) {
            if (data.code == "1") {
                $(e).parent().prev().text("已" + e.value);
                $(e).parent().html("");
            } else {
                alert(data.msg);
            }
            waitingHide();
        }, "json")
    }
    function ShopReqEdit(id,name,val,des) {
        $("#sysID").val(id);
        $("#syskey").val(name);
        $("#syskey").attr("disabled",true);
        $("#sysval").val(val);
        $("#sysdes").val(des);
        $("#editConfig").show();
    }
    function editConfigClose() {
        $("#editConfigpanel input:not([type='button'])").val("");
        $("#syskey").removeAttr("disabled");
        $("#editConfig").hide();
    }
    function URLencode(sStr) {
        return escape(sStr).replace(/\+/g, '%2B').replace(/\"/g, '%22').replace(/\'/g, '%27').replace(/\//g, '%2F');
    }
    function editConfigAdmin() {
      //  waiting();
        var id = $("#sysID").val();
        var value=$("#sysval").val();
        var des = $("#sysdes").val();
        if (id != "") {
            $.post("EditShopReq", "id=" + id + "&value=" + URLencode(value) + "&des=" + des, function (data) {
                alert(data.msg);
                if (data.code == "1") {
                    GetShopReqList(ShopReqManager.index);
                    waitingHide();
                }
            }, "json");
        } else {
            var name = $("#syskey").val();
            if (name == "") {
                alert("键不能为空");
                waitingHide();
                return;
            }
            $.post("AddShopReq", "name=" + name + "&value=" + value + "&des=" + des, function (data) {
                alert(data.msg);
                if (data.code == "1") {
                    GetShopReqList(ShopReqManager.index);
                    waitingHide();
                }
            }, "json");
        }
    }
</script>
<ol class="breadcrumb">
    <li><a onclick="GetManager('Default')">首页</a></li>
    <li><a href="#">商家入驻申请</a></li>
</ol>
<div class="col-lg-12 form-inline">

    关键字：
    <div class="input-group col-lg-4">
        <input type="text" class="form-control" id="key">
        <span class="input-group-addon" onclick="USearch()">查询</span>
    </div>
    @*<input value="新增" type="button" class="btn btn-primary" onclick="$('#editConfig').show()" />*@
    <div class="col-md-12" id="ShopReqlist">
        <table class="table table-hover" style="table-layout: fixed;word-break : break-all;">
            <thead>
                <tr>
                    <th width="10%">申请人账号</th>
                    <th width="8%">商家头像</th>
                    <th width="8%">商家名称</th>
                    <th width="29%">身份证</th>
                    <th width="29%">营业执照</th>
                    <th width="8%">处理结果</th>
                    <td width="8%">操作</td>
                </tr>
            </thead>
            <tbody id="ShopReqbody">
                @Html.Action("ShopReqList")
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
