<style>
    .bankShow {
    }

    .showBackList {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        width: 600px;
        margin-left: -300px;
        margin-top: -200px;
    }

    .editUserHelpBody {
        margin-top: 10%;
    }

    .editItem > div {
        margin: 10px 0;
    }

        .editItem > div > div {
            text-align: right;
        }
        #editUserHelpBody>div>div:nth-child(n+2){margin-top:2rem;}
</style>
<script>
    var hasFooter = false;
    var UserHelpManager = {};
    UserHelpManager.searchKey = "";
    function createFooter(sum) {
        if (!hasFooter) {
            $(".pagination").createPage({

                totalPage:parseInt((sum-1)/10+1),
               // totalPage: 10,
                currPage: 1,
                backFn: function (p) {
                    GetUserHelpList(p);
                }
            });
            hasFooter = true;
        }

    }
    function toPage(index) {
        GetUserHelpList(index);
    };
    //获取用户列表
    function GetUserHelpList(index) {
        waiting();
        $.get("UserHelpList", "index=" + index + "&key=" + UserHelpManager.searchKey, function (data) {
            UserHelpManager.index = index;
            $("#UserHelpbody").html(data);
            waitingHide();
        }, "html")
    }
    function USearch() {
        UserHelpManager.searchKey = $("#key").val();
        hasFooter = false;
        $(".pagination").html("");
        GetUserHelpList(1);
    }
    //更改用户状态
    function CUStatus(ID, e) {
        waiting();
        var status = 1;
        if (e.value == "启用")
        { status = 0; }
        $.post("UpdateUserHelpStatus", "ID=" + ID + "&status=" + status, function (data) {
            if (data.code == "1") {
                if (status == 1) {
                    e.value = "启用";
                } else {
                    e.value = "禁用";
                }
            } else {
                alert(data.msg);
            }
            waitingHide();
        }, "json")
    }
    function EditUserHelp(id) {
        //$("#ID").val("");
        //if (!id) {
        //    $("#editUserHelp").show();
        //    return;
        //}
        waiting();
        $.get("/Admin/EditUserHelp/" + id, function (data) {
            $("#editUserHelpBody").html(data);

            $("#editUserHelp").show();
            waitingHide();
        }, "html")
    }
    //修改头像
    function HeadImgUpload(file) {
        var data = new FormData();
        data.append("file", file.files[0], file.files[0].name);
        $.ajax({
            url: "/File/UploadHeadImg",
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            success: function (respdata) {
                if (respdata.code == '1') {
                    //var reader = new FileReader();
                    //reader.onload = function (evt) {
                    //    $("#headimage").attr("src", evt.target.result);
                    //}
                    //reader.readAsDataURL(file.files[0]);
                    $("#HeadImg1").val(respdata.msg);
                    $("#headimage").attr("src", respdata.msg);
                } else {
                    alert(respdata.msg);
                }
            },
            error: function (data) {
                alert("错误");
            }
        });

    }
    function saveUserHelp() {
        $.post("/Admin/DoEditUserHelp", $("#editUserHelpForm").serialize(), function (data) {
            alert(data.msg);
            if (data.code == "1") {
                GetUserHelpList(UserHelpManager.index);
            }
        }, "json");
    }
    function resetpwd(id) {
        if (!confirm("是否重置该账户密码？")) {
            return;
        }
        $.post("/Admin/ResetPwd","id="+id, function (data) {
            alert(data.msg);
            if (data.code == "1") {
                GetUserHelpList(UserHelpManager.index);
            }
        }, "json");
    }
    function deluserhelp(id) {
        if (!confirm("是否删除该数据？")) {
            return;
        }
        $.post("/Admin/DeleteUserHelp", "id="+id, function (data) {
            alert(data.msg);
            if (data.code == "1") {
                GetUserHelpList(UserHelpManager.index);
            }
        }, "json");
    }
</script>
<ol class="breadcrumb">
    <li><a onclick="GetManager('Default')">首页</a></li>
    <li><a href="#">用户管理</a></li>
</ol>
<div class="col-lg-12 form-inline">
    关键字：
    <div class="input-group col-lg-4">
        <input type="text" class="form-control" id="key">
        <span class="input-group-addon" onclick="USearch()">查询</span>
    </div>
        <span class="btn btn-primary" onclick="EditUserHelp()">新增</span>
    <div class="col-lg-12" id="UserHelplist">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>标题</th>
                    <th>类型</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="UserHelpbody">
                @Html.Action("UserHelpList")
            </tbody>
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
<div class="showBack col-md-12" id="editUserHelp">
    <div class="editUserHelpBody col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">修改<input type="button" class="btn btn-default" style="float:right;margin-top:-7px" value="关闭" onclick="$('#editUserHelp').hide()" /></div>
            <div class="panel-body">
                <form id="editUserHelpForm">
                    <div id="editUserHelpBody">
                       
                    </div>
                </form>
            </div>
            <div class="panel-footer" style="overflow:hidden">
                <input type="button" value="保存" class="btn btn-primary" style="float:right" onclick="saveUserHelp()" />
            </div>
        </div>
    </div>
</div>

