
@{
    Layout = null;
}
@model RelexBarDLL.Users

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>丝路后台管理系统</title>
    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/js/PageUtil.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- 富文本框 -->
    <link rel="stylesheet" type="text/css" href="/js/wangeditor/css/wangEditor.min.css">
    <script type="text/javascript" src="/js/wangeditor/js/wangEditor.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    <style>
        .showBack {
            width: 100%;
            height: 100%;
            background-color: rgba(90, 90, 90,.2);
            background-repeat: no-repeat;
            position: fixed;
            top: 0;
            left: 0;
            display: none;
            z-index: 9999;
        }

        #waiting {
            background-image: url(/img/waiting.gif);
            background-position: 50% 50%;
        }

        .page-header {
            margin-top: 20px;
        }

        a {
            cursor: pointer;
        }

        .input-group-addon {
            cursor: pointer;
        }
    </style>
    <script>

        function waiting() {
            $("#waiting").show();
        }
        function waitingHide() {
            $("#waiting").hide();
        }
        $(function () {
            $("#leftnav li").on("click", function () {
                $("#leftnav li").removeClass("active");
                $(this).addClass("active");
                var page = $(this).attr("data-page");
                GetManager(page);

            });
        });
        //用户管理
        //function getUserManager() {
        //    waiting();
        //    $.get("UserManager", function (data) {
        //        $("#rightContent").html(data);
        //        waitingHide();
        //    }, "html");
        //}
        ////账单管理
        //function payListManager() {
        //    waiting();
        //    $.get("PayListManager", function (data) {
        //        $("#rightContent").html(data);
        //        waitingHide();
        //    }, "html");
        //}
        function GetManager(page) {
            waiting();

            $.get("/shop/"+page, function (data) {
                $("#rightContent").html(data);
                waitingHide();
            }, "html");
        }
        function FileUpload(file,success) {
            waiting();
            var formData = new FormData();
            formData.append("file", file.files[0]);
            $.ajax({
                type: "POST",
                url: '/File/ImgUpload',
                data: formData,// 序列化表单值
                async: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.code == 1) {
                        success(data);
                    }
                    else {
                        alert("上传失败！" + data);
                    }
                    waitingHide();
                },
                error: function () {
                }
            });
        }
    </script>
</head>
<body>
    <div class="col-md-12">
        <div class="col-md-12 page-header text-center">
            <span style="float:left">当前用户:&nbsp;<strong>@Model.Name</strong>&nbsp;<a class="btn-link" href="LoginOut">退出</a></span>
            <h2>商家后台管理系统</h2>
        </div>
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" id="leftnav">
                <li class="active" data-page="ManagerDefault"><a>首页</a></li>
                <li data-page="ProductManager"><a >商品管理</a></li>
                <li data-page="OrderManager"><a>订单管理</a></li>
                <li data-page="PayListManager"><a>账单管理</a></li>
                <li data-page="EditShopInfo"><a>商家信息管理</a></li>
                <li data-page="Scan"><a>扫码收款</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="rightContent">
            @Html.Action("ManagerDefault", "Shop")
        </div>
    </div>
    <div id="waiting" class="showBack"></div>
</body>
</html>
